*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  /*background: url('../img/bg1.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  z-index: 1;
  position: fixed;
  filter: grayscale();
  background-repeat: no-repeat;
  background-position: center;
  height: 197vh;
}

.main {
  z-index: 9999;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}

ul {
  list-style: none;
}

.nav ul {
  display: flex;
  height: 100px;
  margin-left: 7%;
  margin-right: auto;
  text-transform: uppercase;
}

.nav ul li {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background: #00000061;
}

.hero-content {
  height: 90vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1{
  text-align: center;
  text-transform: uppercase;
}

.hero-content p {
  text-align: center;
}

.hero-content h1 span {
  display: block;
  font-size: 5rem;
}


#img1 {
  /*background: url('../img/bg1.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
}
