*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  color: #ccc;
  font-size: 0.9rem;
}
a:hover {
  color: white;
}

body {
  /*background: url('../img/bg1.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  z-index: 1;
  position: fixed;
  filter: grayscale() brightness(135%);
  background-repeat: no-repeat;
  background-position: center;
  height: 197vh;
}

.main {
  z-index: 9999;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  
}

ul {
  list-style: none;
}

.main > ul {
  margin-bottom: 100px;
  box-shadow: 10px 10px 148px 0px rgba(0,0,0,0.75);
  
}

.nav ul {
  display: flex;
  height: 100px;
  text-transform: uppercase;
}

.nav ul li {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  border-bottom: 2px solid white;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.hero {
  background: #000000c7;
}

.hero-content {
  height: 90vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1{
  
  font-family: initial;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.hero-content p {
  text-align: center;
}

.hero-content h1 span {
  display: block;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  
}

.hero-content h1 span:first-child {
  display: inline;
  font-size: 2rem;
  font-family: initial;
  font-weight: normal;
}
.scroll_bar ul li {
  height: 360px;

  display: block;
}

#img1 {
  background: url('../img/1_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#img2 {
  background: url('../img/2_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#img3 {
  background: url('../img/3_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#img4 {
  background: url('../img/4_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.popular-articles {
  background: linear-gradient(45deg, rgba(32,30,30,0.8) 0%,
   rgba(20,20,20,0.8) 50%);
   /*rgba(119, 125, 125,0.8) 100%);*/
  padding-top: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-articles h1 {
  font-weight: inherit;
  margin-bottom: 20px;
}

.popular-articles h2 {
  font-weight: inherit;
  margin-bottom: 20px;
  font-size: 0.7rem;
}

.popular-articles ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#art-1 {
  display: block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: url("../img/1_art.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

#art-2 {
  display: block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: url("../img/2_art.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  img {
    height: 1500px;
  }
  .main {
    max-width: 1200px;
    padding-top: 100px;
  }
  .main > ul {
    display: flex;
    flex-direction: row;
    height: 600px;
  }
  .hero {
   flex: 1;
   position: relative;
  }
  .nav > ul {
    margin-left: 160px;
    width: 400px;
  }
  .nav ul li {
    z-index: 2;
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: auto;
    margin-left: 180px;
  }

  .hero-content h1 {
    font-size: 1.6rem;
    text-align: left;
    letter-spacing: 16px;
  }

  .hero-content h1 span {
    letter-spacing: 10px;
    font-size: 7rem;
  }
  .hero-content h1 span:first-child {
    display: inline;
    font-size: 2.4rem;
    font-family: initial;
    letter-spacing: 15px;
    font-weight: normal;
  }

  .hero-content p {
    text-align: left;
    margin-top: 40px;
    font-size: 0.8rem;
    font-style: italic;
  }
  .scroll_bar {
    width: 150px;
    height: 100%;
  }

  .scroll_bar ul {
    height: 100%;
  }

  .scroll_bar ul li {
    height: 25%;
    position:relative;
  }
  .scroll_bar ul li a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3333338e;
  }

  .scroll_bar ul li a:hover {
    background: none;
  }

  .articles .popular-articles {
    height: 100%;
    padding: 0 40px;
  }

  .articles .popular-articles h1{
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0;
    height: 100px;
    line-height: 100px;
    
  }

  .articles .popular-articles ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .articles .popular-articles h2{
    font-family: initial;
    font-size: 0.8rem;
    color: #ccc;
    font-style: italic;
    text-align: center;
    cursor: pointer;
  }

  .articles .popular-articles h2:hover {
    color: white;
  }

  #art-1, #art-2{
    width: 120px;
    height: 120px;
  }
}